/* PC */
@media (min-width: 1024px) {
    #header .menu-mobile-bt,
    #header .menu-icon {
        display: none;
    }
}
/* TABLET */
@media (min-width: 740px) and (max-width: 1024px) {
    #header .menu-mobile-bt,
    #header .menu-icon {
        display: none;
    }
}
/* MOBILE */
@media (max-width: 740px) {
    #nav > li {
        display: block;
    }
    #header {
        overflow: hidden;
    }
    .search-bt {
        display: none;
    }
    .menu-mobile-bt {
       
    }
}
